/* 添加 GIF 背景样式 */


/* 内容区域 */
.content-intro {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 760px;
    margin-top: 60px;
}

h1 {
    text-align: left;
    display: block; /* 将 p0 改为块级元素 */
    width: 100%; /* 确保元素占满容器宽度 */
}

p0 {
    color: #000000;
    text-align: left;
    display: block; /* 将 p0 改为块级元素 */
    width: 100%; /* 确保元素占满容器宽度 */
}


/* 隐藏播放控件 */
video::-webkit-media-controls-panel,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.menu-container {
    background-color: rgba(255, 255, 255, 0.4);
}



