* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gowun Batang","Noto Serif SC", "Noto Serif", serif;
    -webkit-font-smoothing: antialiased;  /* 优化字体渲染 */
    -moz-osx-font-smoothing: grayscale;   /* Firefox 字体渲染优化 */
    text-rendering: optimizeLegibility;    /* 优化字体清晰度 */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;    /* 防止页面横向滚动 */
    width: 100%;
    background-color: rgba(252, 252, 250, 1);
}

#rotating-title {
    transition: opacity 0.05s ease;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 60px;
    margin-top: 150px;
    margin-bottom: 120px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 60px;
    margin-bottom: 24px;

}

home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 60px;
    margin-bottom: 24px;

}

.text-box {
    width: 100%;
    max-width: 1080px;
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 14px;
    bottom: 0;
    width: 100%;
}

h0 {
    font-size: 16pt;
    font-family: "Gowun Batang", "Noto Serif SC", "Noto Serif", serif;
    font-weight: 600;
    line-height: 1.5;
    color: #000;
}

h1 {
    font-size: 48pt;
    font-family: "Gowun Batang", "Noto Serif SC", "Noto Serif", serif;
    font-weight: 400;
    line-height: 1.05;
    color: #000;
}

h2 {
    font-size: 28pt;
    font-family: "Gowun Batang", "Noto Serif SC", "Noto Serif", serif;
    font-weight: 400;
    line-height: 1.15;
    color: #000;
}

h3 {
    font-size: 20pt;
    font-family: "Gowun Batang","Noto Serif SC","Krub","Noto Serif Tibetan", serif;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
}

p0 {
    font-size: 13pt;
    font-family: "Gowun Batang","Noto Serif SC", "Noto Serif", serif;
    font-weight: 400;;
    color: #222;
    line-height: 1.7;
}

p1 {
    font-size: 12pt;
    font-family: "Apple-System", system-ui, segoe ui, Arial, sans-serif;
    font-weight: 400;;
    color: #222;
    line-height: 1.7;
    letter-spacing: 0.01em;
}

p2 {
    font-size: 11pt;
    font-family: "Apple-System", system-ui, segoe ui, Arial, sans-serif;
    font-weight: 400;;
    color: rgba(92, 87, 84, 0.8);
    line-height: 1.8;
    letter-spacing: 0.01em;
}

p3 {
    font-size: 9pt;
    font-family: "Apple-System", system-ui, segoe ui, Arial, sans-serif;
    font-weight: 400;;
    color: rgba(92, 87, 84, 0.8);
    line-height: 1.8;
    letter-spacing: 0.01em;
}

b1 {
    font-size: 13pt;
    font-family: "Apple-System", system-ui, segoe ui, Arial, sans-serif;
    font-weight: 400;;
    line-height: 1.5;
    color: #ffffff;
}

@media (max-width: 560px) {
    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 22pt;
    }

    h3 {
        font-size: 18pt;
    }
}


/* 容器样式 */
.container {
    max-width: 1080px; /* 根据需要调整最大宽度 */
    display: grid;
    /* minmax(250px, 1fr) 确保每个卡片最小 250px 宽度 */
    /* auto-fit 使卡片自动填充可用空间 */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
    justify-content: center;
    height: fit-content; /* 修改这行 */
    min-height: min-content; /* 添加这行 */
}

/* 添加组相关的样式 */
.group {
    width: 100%;
    max-width: 1080px;
}

.group-content {
    margin-top: 140px;
    margin-bottom: 120px;
}

.group-title {
    text-align: left;
    width: 100%;
}

/* 卡片样式 */
.card {
    width: 100%;
    opacity: 0;
    transition: all 0.8s ease;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

/* 当卡片可见时添加的类 */
.card.visible {
    opacity: 1;
    transform: translateY(0);
}


/* 悬停效果 */
.card:hover .card-image img {
    transition: 0.2s ease;
    transform: translateY(-10px);
    box-shadow: 0 12px 4px 0 rgba(0, 0, 0, 0.15);
}

/* 图片容器 */
.card-image {
    position: relative;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
    line-height: 0; /* 移除行高导致的间隙 */
    font-size: 0; /* 移除字体大小导致的间隙 */
}

.card-image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;/* 保持图片比例并填充容器 */
    z-index: 10;
    transition: all 0.2s ease;
    transform: translateY(0px);
    box-shadow: 0 8px 3px 0 rgba(0, 0, 0, 0);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
    pointer-events: none; /* 禁止任何指针事件 */
    display: block; /* 将图片设置为块级元素，移除底部间隙 */
    object-fit: cover; /* 确保图片填充容器 */
}

/* 内容区域 */
.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* 确保内容不会溢出 */
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
}

.card-content p2 {
    margin-bottom: 0px;
    line-height: 1.5;
    color: rgba(92, 87, 84, 0.8);
}



/* 响应式布局调整 */
@media (min-width: 1080px) {
    .container {
        /* 在大屏幕上限制为5列 */
        grid-template-columns: repeat(5, 1fr);
    }
    .card {
        max-width: 100%; /* 确保每行最多5个 */
    }
}

@media (max-width: 1079px) {
    .container {
        /* 中等屏幕4列 */
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        max-width: 100%;
    }
    
}

@media (max-width: 560px) {

    header {
        padding: 0 20px;
        margin: 60px 0;
    }
    
    main {
        width: 100%;
        padding: 0 20px;
    }
    
    home {
        padding: 0 20px;
    }

    footer {
        padding-bottom: 76px;
    }
    
    .text-box {
        padding: 60px 0;
    }

    .container {
        /* 小屏幕3列 */
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .group-content {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .card {
        max-width: 100%;
    }


    .card-content {
        display: none; /* 默认在移动端隐藏 */
    }
}

border-line {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 1080px;
    margin-bottom: 32px;
}

@media (max-width: 560px) {
    border-line {
        margin-bottom: 24px;
    }
}



.enter-container {
    width: 100%;
    max-width: 1080px;
    display: flex;
    margin-bottom: 48px;
    padding: 60px 36px;
    gap: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgb(245, 244, 240);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.styled-button {
    position: relative;
    cursor: pointer;
    background: rgb(0, 0, 0); 
    padding: 8px 16px;
    border-radius: 30px;
    min-width: 120px; 
    display: flex; 
    justify-content: center;
}

@media screen and (max-width: 560px) {

    .enter-container {
        padding: 40px 16px;
    }
}
/* 导航栏 --------------------------------------------- */
/* 导航栏 -------------------------------------------- */

.nav-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 99;
    align-items: center;
    transition: transform 0.5s ease;
}

.nav-background.hidden {
    transform: translateY(-100%);
}

.nav-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;  /* 垂直居中 */
    justify-content: space-between;  /* 水平分布（如果有多个元素） */
}

.nav-left {
    position: fixed;  /* 添加固定定位 */
    display: flex;
    align-items: center;
    gap: 32px;
    left: 32px;
}

.logo {
    background-color: #000;
    padding: 2px 8px;
    cursor: pointer;
}

.nav-button {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.nav-button:hover {
    opacity: 0.7;
}

.nav-right {
    position: fixed;
    right: 32px;
    flex-direction: row;
    padding: 0px 0px;
    z-index: 100;
    display: flex;
    align-items: center;
}

.language-switch {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    z-index: 100;
    background-color: rgba(252, 252, 250, 1);
    padding: 6px 10px;
}

.language-switch:hover {
    background-color: rgb(255, 255, 255);
}

/* 修改菜单按钮样式 */
.menu-toggle {
    display: none;
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000000; /* 改为白色以匹配logo */
    margin: 4px 0;
}

.nav-pages {
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 1000;
    pointer-events: none; /* 防止按钮阻挡中间内容的交互 */
}

/* 在移动端隐藏导航按钮 */
@media screen and (max-width: 560px) {
    .nav-pages {
        display: none;
    }

    .nav-left {
        display: none;

    }

    .nav-right {
        display: none;
    }

    .nav-button {
        display: none;  /* 隐藏所有导航按钮 */
    }

    /* 只显示当前页面标题 */
    .nav-button.current-page {
        display: block;
        cursor: default;
        pointer-events: none;
    }

    .nav-button.current-page:hover {
        opacity: 1;
    }
}

.nav-pg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 32px;
    height: 64px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    pointer-events: auto;
    padding: 0;
}

.nav-arrow {
    width: 16px;
    height: 48px;
    opacity: 0.2;
    transition: all 0.3s ease;
}

.nav-pg:hover .nav-arrow {
    width: 24px;
    height: 72px;
    opacity: 1;
}

.prev-btn {
    left: 18px;
}

.next-btn {
    right: 18px;
}

@media (max-width: 1024px) {
    
    .prev-btn {
        left: 12px;
    }
    
    .next-btn {
        right: 12px;
    }
}


/* 新的底部导航栏样式 */

.mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 98;
    transition: transform 0.3s ease;
    padding: 0;
    bottom: 0;
}

.menu-container {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 4px 0;
    display: flex;
    flex-direction: row;
}

/* 为微信浏览器添加特殊样式 */
.wechat .menu-container {
    padding-bottom: 8px;
}

.mobile-menu-item {
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;
}

.mobile-menu-item img {
    width: 28px;
    height: 28px;
}

.mobile-menu-item p3 {
    font-size: 11px;  /* 缩小字号 */
    color: rgba(0, 0, 0, 1);
}

.goback {
    display: none;
    align-items: center;
    justify-content: center;
    height: 36px;
    gap: 8px;
}


/* 移动端适配 */
@media screen and (max-width: 560px) {
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        transform: translateY(0);
    }

    .mobile-menu.hidden {
        transform: translateY(100%);
    }

    .goback {
        display: flex;
    }
}

.error-image {
    transition: transform 0.5s ease-out;
    will-change: transform;
}




.headerback {
    position: relative;
    width: 100%;
    height: 100vh;
}

.header-text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
    z-index: 10;
}

.giant-text {
    color: rgb(255, 255, 255);
    font-size: clamp(2rem, 20vw, 25rem); /* 响应式字号 */
    font-family: "Gowun Batang", "Noto Serif SC", "Noto Serif", serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
}

@media (max-width: 768px) {
    .header-text-container {
        padding: 0 30px;
    }
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #efece5; /* 灰色背景 */
    overflow: hidden; /* 超出部分裁切 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: transform 0.3s ease; /* 添加平滑过渡 */
}

.header-bg::after {
    content: '';
    position: absolute;
    width: 70%;
    padding-bottom: 70%;
    background-image: url('../assets/tradebginner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: slowRotate 240s linear infinite;
    z-index: 0;
}

.header-bg::before {
    content: '';
    position: absolute;
    width: 105%;
    padding-bottom: 105%;
    background-image: url('../assets/tradebgouter.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: reverseRotate 240s linear infinite;
    z-index: 1;
}

@keyframes slowRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes reverseRotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* iPad 竖屏状态 */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
    .headerback {
        height: 80vh;
    }

    .header-bg::after {
        width: 85%;
        padding-bottom: 85%;
    }
    
    .header-bg::before {
        width: 125%;
        padding-bottom: 125%;
    }
}

@media (max-width: 560px) {
    .headerback {
        height: 75vh;
    }

    .header-bg::after {
        width: 100%;
        padding-bottom: 100%;
    }
    
    .header-bg::before {
        width: 147%;
        padding-bottom: 147%;
    }

    @keyframes slowRotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes reverseRotate {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}



