

header {
    max-width: 1080px;
    width: 100%;
    padding: 0 60px;
    margin-top: 160px;
    margin-bottom: 80px;
}

.trend-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-bottom: 40px;
}

.frame {
    max-width: 1080px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
}

.big-board {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.coefficient-watch {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-content: top;
}

.board-watch {
    height: 100%;
    width: 100%;
    padding: 12px;
    background: rgba(250, 250, 250, 0.7);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: top;
    justify-content: top;
}

.text-column {
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 0;
    text-align: center;
    height: 100%;
}

.text-column p3 {
    color: rgba(140, 140, 140, 0.8);
}

#priceChart {
    width: 100% ;  /* 强制覆盖 Chart.js 的默认宽度 */
    height: 100% ;
}

.list-board {
    height: 100%;
    width: 100%;
    padding: 24px;
    background: rgba(250, 250, 250, 0.7);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.list-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}
.list-title {
    font-size: 16px;
    margin-bottom: 16px;
}

.project-label {
    display: grid;
    grid-template-columns: 32px 2fr 1fr 1fr ;  /* 添加 new 标签的列 */
    align-items: center;
    gap: 8px;
    padding: 8px;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.project-label p3 {
    color: rgba(140, 140, 140, 0.8);
}

.project-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.project-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 6px;
}
.project-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;  /* 添加 new 标签的列 */
    align-items: center;
    gap: 8px;
    flex: 1;
}


.coefficient-item {
    text-align: center;
}

.coefficient-title {
    font-size: 16px;
    color: #666;
}

.tooltip-content {
    min-width: 200px;
}

.tooltip-header {
    margin-bottom: 16px;
}

.tooltip-body {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tooltip-item {
    display: flex;
    align-items: center;
    gap: 2px;
}

#chartjs-tooltip {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -100%);
    margin-top: -8px;
    z-index: 100;
}

.part-title {
    margin: 0px 0;
}

.credit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.credit-box {
    height: 100%;
    width: 100%;
    padding: 16px;
    background: rgba(250, 250, 250, 0.7);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 768px) {


    header {
        margin-top: 100px;
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .header-title {
        padding: 0 20px;
    }

    .coefficient-watch {
        gap: 12px;
    }

    .trend-title {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
        margin-bottom: 24px;
        padding: 0 8px;
    }

    .part-title {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
        margin-bottom: 24px;
        padding: 0 8px;
    }

    .frame {
        padding: 12px;
        gap: 12px;
        margin-bottom: 24px;
    }

    .big-board {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    #priceChart {
        width: 100% ;  /* 强制覆盖 Chart.js 的默认宽度 */
        height: 160px ;
    }

    .list-board {
        padding: 12px;
        flex-direction: column;
        gap: 16px;
    }

    .text-column {
        text-align: left;
        align-items: flex-start;
    }


    .board-watch {
        padding: 16px 16px;
        gap: 12px;
    }

    .credit-container {
        /* 中等屏幕4列 */
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    .card {
        max-width: 100%;
    }
}